.doctor-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    gap: 20px;
}

.doctor-info-left {
    flex: 1;
}

.doctor-name {
    font-weight: 600;
}

.doctor-education {
    display: block;
    color: #4b3b8b;
    font-size: 13px;
}

.doctor-chamber-summary {
    margin: 2px 0 5px 0;
    font-size: 13px;
    line-height: 20px;
}

.doctor-reg {
    color: #444;
    font-size: 13px;
    display: block;
}

.doctor-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.rating-score {
    font-size: 16px;
}

.doctor-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials {
    font-size: 22px;
    font-weight: 600;
}

.chamber-header {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 600;
}

.chamber-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.chamber-hospital {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}
